# Choose: openai | openrouter | gemini | huggingface | azure
LLM_PROVIDER=azure
LLM_TEMPERATURE=0.2

# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=

# OpenRouter
OPENROUTER_API_KEY=
OPENROUTER_MODEL=

# Gemini
GOOGLE_API_KEY=
GEMINI_MODEL=

# Hugging Face
HUGGINGFACE_API_KEY=
HUGGINGFACE_MODEL=

# Azure OpenAI
AZURE_API_KEY=
AZURE_ENDPOINT=
AZURE_DEPLOYMENT=
AZURE_MODEL=
AZURE_API_VERSION=

# DB Provider: mongodb | sqlite | json | inmemory | 
DB_PROVIDER=sqlite

# MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=agent_db

# SQLite
SQLITE_FILE=chat_history.db

# JSON
JSON_FILE=chat_history.json